body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-align: center;
    color: white;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    z-index: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

nav, h1, h2 {
    font-family: serif;
}

a {
    text-decoration: none;
    position: relative;
    margin: 5px 10px;
    white-space: nowrap;
    display: inline-block;
}

a:visited {
    color: currentColor;
}

a:link {
    color: currentColor;
}

a:active{
    color: currentColor;
    opacity: 0.8;
}

a:hover {
    text-shadow: 1px 0px 0;
}

/* =============== navigation =============== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to left, #434343 0%, black 100%);
    z-index: 1;
}

nav a:not(:first-child)::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1px;
    background-color: white;
    transition: all 0.3s ease;
}

nav a:hover:after {
    width: 100%;
  }

nav a:nth-child(2) {
    margin-left: auto;
}

nav a:first-child {
    position: relative;
    display: inline-block;
}

nav a:first-child:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.8s 0s linear;
}
  
nav a:first-child::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 30px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
  
@keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
}

/* =============== footer =============== */
footer {
    margin-top: 25px;
    background-image: linear-gradient(to left, #434343 0%, black 100%);
    padding: 10px;
}

i {
    color: white;
}

#contact a {
    margin: 2px;
}