/** start writing CSS rules under this line **/
body {
    height: 100vh;
}

header,
#sidebar,
#content,
footer {
    border: 1px solid white;
}

header, footer {
    background-color: rgba(121, 178, 90, 0.866);
    padding-bottom: calc(100% - 92%);
}

#mainContent {
    display: flex;
    height: 72%;
}

nav {
    background-color: rgba(121, 199, 255, 0.886);
    display: block;
    width: 30%;
}

#content {
    background-color: rgb(239, 228, 164);
    display: block;
    width: 70%;
}

footer {
    padding-bottom: calc(100% - 95%);
}